@use './partials/_variables.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}