$background_default: black;
$color_default: white;
$color_secondary: rgba(190, 147, 89, 1);
$color_tertiary: rgba(104, 104, 104, 1);
$color_accent: hsla(34, 44%, calc(55% - 10%), 100%);
$logo_height: 70px;
$default_width: 75%;